<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ImageKit</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li
        *ngIf="!isLoggedIn"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['active']"
      >
        <a [routerLink]="['../', 'login']"
          ><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login</a
        >
      </li>
      <li
        *ngIf="!isLoggedIn"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['active']"
      >
        <a [routerLink]="['../', 'register']"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Register</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
   
  </div>
</nav>
